<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count = "2" name = "AP_Inbound_Feed" parallel = "tests"> 
	<test name="AP_Inbound_Feed">

	
		<classes>
			<class name="com.test.FieldMapTest" />
			<class name="com.test.DataMappingTest" />

		</classes>
	</test>



</suite>


